/* --------------------------------------------------------
#Contact Page
----------------------------------------------------------- */

header {
    width: 100%;
    height: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("../img/contact.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    /* scroll-behavior: smooth; */
}
.review-row form{
    width: 100%;
    margin-bottom: 10%;
 
}
.review-row form input ,textarea {
    width: 100%;
    background-color: #dedada;
    padding: 0.7rem;
    outline: none;
    border: 0;
    margin-top: 2%;
    border-radius: 5px;
    margin-bottom: 0.9rem;
}
#contact-reservation{
    font-size: 4rem;
}
label{
   padding-top: 1rem;
   font-size: 1rem;

}
.map-section{
    padding-top: 5%;
    padding-bottom: 5%;
}
